<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkPal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">☰</a>
        <a href="/">Home</a>
        <a href="/booking">Booking</a>
        <a href="/terms">Terms</a>
        <a href="/about">About</a>
        <a href="/maps">Maps</a>
    </div>
    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var content = document.getElementById("content");
            if (sidebar.classList.contains('collapsed')) {
                sidebar.classList.remove('collapsed');
                content.style.marginLeft = '200px';
                content.style.width = 'calc(100% - 200px)';
            } else {
                sidebar.classList.add('collapsed');
                content.style.marginLeft = '50px';
                content.style.width = 'calc(100% - 50px)';
            }
        }
    </script>
</body>
</html>
